<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title></title>

  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="../../assets/css/vendor/github.css">
  <link rel="stylesheet" href="../../assets/css/vendor/obsidian.css">
  <link rel="stylesheet" href="../../assets/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/style.css">
</head>
