{
 :date   (date-now)
 :jour   (date-now "E")
 :mois   (date-now "M")
 :auteur (System/getProperty "user.name")
 :langue (System/getProperty "user.language")
 :pays   (System/getProperty "user.country")
 :os     (System/getProperty "os.name")
}
