{
 :date   (.format (java.text.SimpleDateFormat. "dd-MM-yyyy") (java.util.Date.))
 :jour   (.format (java.text.SimpleDateFormat. "E") (java.util.Date.))
 :mois   (.format (java.text.SimpleDateFormat. "M") (java.util.Date.))
 :auteur (System/getProperty "user.name")
 :langue (System/getProperty "user.language")
 :pays   (System/getProperty "user.country")
 :os     (System/getProperty "os.name")
}
